In [33]:
# Import Dependencies
import numpy as np
import pandas as pd
import os

## Import and Check Chicago Crime Datasets

In [34]:
# Import 2016 - 2019 crime data
crime_2016 = os.path.join("Resources", "crime_clean_2016.csv") 
crime_2017 = os.path.join("Resources", "crime_clean_2017.csv") 
crime_2018 = os.path.join("Resources", "crime_clean_2018.csv")

crime_2016_df_final = pd.read_csv(crime_2016)
crime_2017_df_final = pd.read_csv(crime_2017)
crime_2018_df_final = pd.read_csv(crime_2018)

join1 = crime_2016_df_final.append(crime_2017_df_final)
training_df = join1.append(crime_2018_df_final)
training_df.head()

,id,date,day,month,year,time,hour,month_day,day_of_week,district,...,location_description,x_coordinate,y_coordinate,iucr,fbi_code,primary_type,domestic,latitude,longitude,arrest
0,10819224,2016-12-31T23:59:00.000,31,12,2016,23:59:00.000,23,1231,5,16,...,AIRPORT BUILDING NON-TERMINAL - SECURE AREA,1100658,1934241,0810,06,THEFT,False,41.976290,-87.905227,False
1,10801137,2016-12-31T23:58:00.000,31,12,2016,23:58:00.000,23,1231,5,5,...,RESIDENCE,1178014,1829709,0430,04B,BATTERY,False,41.688033,-87.623931,False
2,10801110,2016-12-31T23:55:00.000,31,12,2016,23:55:00.000,23,1231,5,19,...,RESIDENCE,1166154,1920300,2250,22,LIQUOR LAW VIOLATION,False,41.936885,-87.664770,True
3,10802006,2016-12-31T23:55:00.000,31,12,2016,23:55:00.000,23,1231,5,1,...,HOTEL/MOTEL,1176964,1902140,0486,08B,BATTERY,True,41.886815,-87.625593,False
4,10801865,2016-12-31T23:54:00.000,31,12,2016,23:54:00.000,23,1231,5,6,...,RESIDENCE,1178949,1853139,1310,14,CRIMINAL DAMAGE,True,41.752307,-87.619798,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260100,11459757,2018-01-01T00:00:00.000,1,1,2018,00:00:00.000,0,102,0,9,...,RESIDENCE,1166099,1874550,1752,20,OFFENSE INVOLVING CHILDREN,False,41.811344,-87.666279,False
260101,11315895,2018-01-01T00:00:00.000,1,1,2018,00:00:00.000,0,102,0,7,...,RESIDENCE,1167400,1863456,1153,11,DECEPTIVE PRACTICE,False,41.780873,-87.661825,False
260102,11196173,2018-01-01T00:00:00.000,1,1,2018,00:00:00.000,0,102,0,8,...,RESIDENCE,1154348,1854412,1152,11,DECEPTIVE PRACTICE,False,41.756325,-87.709916,False
260103,11533503,2018-01-01T00:00:00.000,1,1,2018,00:00:00.000,0,102,0,5,...,RESIDENCE,1182298,1817141,1562,17,SEX OFFENSE,True,41.653447,-87.608635,False
260104,11479066,2018-01-01T00:00:00.000,1,1,2018,00:00:00.000,0,102,0,2,...,RESIDENCE,1182037,1874422,2826,26,OTHER OFFENSE,False,41.810639,-87.607823,False

In [35]:
training_df['arrest'].value_counts()

False    631208
True     156693
Name: arrest, dtype: int64

In [36]:
# Import 2019 crime data and prepare for testing
crime_2019 = os.path.join("Resources", "crime_clean_2019.csv") 

crime_2019_final_df = pd.read_csv(crime_2019)

# crime_2019_final_df.head()

In [41]:
training_df=(training_df[['month','hour','day_of_week','district','block','ward','beat','community_area',
                                           'location_description','fbi_code','primary_type','domestic',
                                           'arrest']])
training_df.head()

,month,hour,day_of_week,district,block,ward,beat,community_area,location_description,fbi_code,primary_type,domestic,arrest
0,12,23,5,16,30127,41,1651,76,3,7,32,0,0
1,12,23,5,5,408,34,522,49,124,5,2,0,0
2,12,23,5,19,13708,32,1932,6,124,23,16,0,1
3,12,23,5,1,187,42,111,32,93,10,2,1,0
4,12,23,5,6,27629,6,623,69,124,16,6,1,0

In [42]:
from sklearn.model_selection import train_test_split
from sklearn import tree
from sklearn import preprocessing
le = preprocessing.LabelEncoder()

In [44]:
training_df['domestic'] = le.fit_transform(training_df['domestic'])
training_df['block'] = le.fit_transform(training_df['block'])
training_df['location_description'] = le.fit_transform(training_df['location_description'])
training_df['primary_type'] = le.fit_transform(training_df['primary_type'])
training_df['fbi_code'] = le.fit_transform(training_df['fbi_code'])
training_df['arrest'] = le.fit_transform(training_df['arrest'])

C:\Users\tmill\AppData\Local\Continuum\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\tmill\AppData\Local\Continuum\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\tmill\AppData\Local\Continuum\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\tmill\AppData\Local\Continuum\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\tmill\AppData\Local\Continuum\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\Users\tmill\AppData\Local\Continuum\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [45]:
# Assign X (data) and y (target)
X = training_df.drop("arrest", axis=1)
y = training_df["arrest"]

In [46]:
training_df.head()

,month,hour,day_of_week,district,block,ward,beat,community_area,location_description,fbi_code,primary_type,domestic,arrest
0,12,23,5,16,30127,41,1651,76,3,7,32,0,0
1,12,23,5,5,408,34,522,49,124,5,2,0,0
2,12,23,5,19,13708,32,1932,6,124,23,16,0,1
3,12,23,5,1,187,42,111,32,93,10,2,1,0
4,12,23,5,6,27629,6,623,69,124,16,6,1,0

In [47]:
training_df['arrest'].value_counts()

0    631208
1    156693
Name: arrest, dtype: int64

In [48]:
print('X Shape:', X.shape)
print('y Shape:', y.shape)

X Shape: (787901, 12)
y Shape: (787901,)

In [49]:
# Split data into test/train set (70/30 split)
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = 0.3, random_state = 42)

In [50]:
print('Training X Shape:', X_train.shape)
print('Training y Shape:', y_train.shape)
print('Testing X Shape:', X_test.shape)
print('Testing y Shape:', y_test.shape)

Training X Shape: (551530, 12)
Training y Shape: (551530,)
Testing X Shape: (236371, 12)
Testing y Shape: (236371,)

In [53]:
# Select Algorithm
clf = tree.DecisionTreeClassifier()
clf = clf.fit(X_train, y_train)
clf.score(X_test, y_test)

0.8176722186731875

In [63]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=100, random_state=42)
rf = rf.fit(X_train, y_train)
rf.score(X_test, y_test)

0.8843851403090903

In [64]:
sorted(zip(rf.feature_importances_, X), reverse=True)

[(0.23408701501602863, 'fbi_code'),
 (0.12896828067805002, 'block'),
 (0.10529748288425543, 'primary_type'),
 (0.10324065136777959, 'location_description'),
 (0.09281146463805497, 'hour'),
 (0.08018547549416588, 'month'),
 (0.07304367933789507, 'beat'),
 (0.06485573647016309, 'day_of_week'),
 (0.040209087265355145, 'community_area'),
 (0.03949449127913942, 'ward'),
 (0.01996972225404544, 'district'),
 (0.017836913315067295, 'domestic')]